[Desktop Entry]
Encoding=UTF-8
Name=Link to adc · loboris/MicroPython_ESP32_psRAM_LoBo Wiki
Type=Link
URL=https://github.com/loboris/MicroPython_ESP32_psRAM_LoBo/wiki/adc
Icon=text-html
