[Desktop Entry]
Encoding=UTF-8
Name=Link to Ai-Thinker_NodeMCU-32S_DiagramPinout.png (868×923)
Type=Link
URL=http://esp32.net/images/Ai-Thinker/NodeMCU-32S/Ai-Thinker_NodeMCU-32S_DiagramPinout.png
Icon=image-png
