[Desktop Entry]
Encoding=UTF-8
Name=Link to dac · loboris/MicroPython_ESP32_psRAM_LoBo Wiki
Type=Link
URL=https://github.com/loboris/MicroPython_ESP32_psRAM_LoBo/wiki/dac
Icon=text-html
